.bg-dark {
  background-color: #1f2937;
}

.bg-gray {
  background-color: #e5e7eb;
}

.txt-light-main {
  font-size: 48px;
  font-weight: 600;
  color: #f9faf8;
}

.txt-light-secondary {
  font-size: 48px;
  color: #e5e7eb;
}

.txt-light-head {
  font-size: 24px;
  color: #f9faf8;
}

.txt-d1 {
  font-size: 36px;
  font-weight: 500;
  color: #1f2937;
}
.txt-quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
